body {
    background: rgb(137, 144, 151);
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
}

.road {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;

    /* border-left: black solid 1px;
    border-right: black solid 1px; */
}
#canvas {
    background: #403e39;
    color: #555555;
    font-size: 14px;
    /* border-left: darkgrey solid 10px;
    border-right: darkgray solid 10px; */
    border-bottom: white solid 10px; 
    /*set height to be the height of the entire page*/
}
#neuralCanvas {
    background: #1b1a1a;
    /*set height to be the height of the entire page*/
}
.start {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
}

.start-button {
    background: #ffffff;
    color: #555555;
    font-size: 14px;
    padding: 6px 12px;
    border: 1px solid #555555;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}